/* Estilos Gerais */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Navbar */
header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #174691;
    padding: 0 2.5rem;
    justify-content: center;
}


/* Logo */
header a {
    color: #fafafa;
    font-size: 2rem;
    font-weight: bold;
}