/* Estilos Gerais */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 60vh;
    align-items: center;
}

/* Navbar */
header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #174691;
    padding: 0 2.5rem;
    justify-content: center;
}


/* Logo */
header a {
    color: #fafafa;
    font-size: 2rem;
    font-weight: bold;
}


/* Parte do login */
main form {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 1.9rem;
    text-align: center;
    color: #113a7a;
    margin-bottom: 3rem;
}

main form input[type="text"],
main form input[type="password"],
#login-btn {
    padding: 1rem 1.5em;
    width: 350px;
    margin: 0 auto 1rem;
    border: none;
    border: 1px solid #113a7a;
    border-radius: 8px;
    font-size: 0.9rem;
    color: #113a7a;
    font-size: 1rem;
    font-weight: bold;
}

main form input[type="text"]::placeholder,
main form input[type="password"]::placeholder {
    color: #113a7a;
}

main form input[type="text"]:focus,
main form input[type="password"]:focus {
    border: 2px solid #113a7a;
}

#login-btn {
    background-color: #113a7a;
    color: #fafafa;
    cursor: pointer;
    transition: 0.4s;
    font-weight: bold;
}

#login-btn:hover {
    background-color: #fafafa;
    color: #113a7a;
    border: 1px solid #113a7a;
}


/* Erro e Acerto */
.erro {
    text-align: center;
    color: #f10a0a;
    font-weight: bold;
    font-size: 1.2rem;
}

.acerto {
    text-align: center;
    color: #2ef007;
    font-weight: bold;
    font-size: 1.2rem;
}


/* footer */
footer {
    background-color: #113a7a;
    color: #fafafa;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

#footer-contatos {
    text-align: center;
    padding: 1rem 0;
}

#footer-contatos p {
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    width: 50%;
    margin: 0.5rem auto 1rem;
    border: 1px solid #fafafa;
    border-radius: 1.5rem;
}
.footer-icon {
    font-size: 1.4rem;
    color: #fafafa;
    transition: 0.5s;
}

#midia-social-footer {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.footer-icon:hover {
    opacity: 0.6;
}

#footer-copyright {
    padding-bottom: 1rem;
    text-align: center;
}