/* Estilos Gerais */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Navbar */
header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #174691;
    padding: 0 2.5rem;
    justify-content: space-between;
}


/* Logo */
header h1 {
    color: #fafafa;
}


/* Procurar */
#pesquisa-navbar {
    display: flex;
    gap: 0;
}

input {
    border: none;
}

button {
    border: none;
}

#pesquisa {
    width: 500px;
    padding: 0.7rem 1.5rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    font-size: 1rem;
    background-color: #fafafa;
}

#lupa {
    background-color: #fafafa;
    width: 50px;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    color: #113a7a;
    transition: 0.3s;
    cursor: pointer;
    font-size: 1rem;
}

#lupa:hover {
    background-color: #113a7a;
    color: #fafafa;
}


/* Links */
.nav-itens {
    display: flex;
}

.nav-itens li a {
    color: #fafafa;
    font-weight: bold;
    font-size: 1.05rem;
    padding: 5px 0 3px;
    border-bottom: 2px solid transparent;
    border-radius: 2px;
    transition: 0.5s;
}

.nav-itens li a:hover {
    border-bottom: 2px solid #fafafa;
}

.nav-itens li {
    padding-left: 0.5rem;
}

#lista-de-desejos {
    cursor: pointer;
}


/* Bolinha do carrinho */
#carrinho {
    position: relative;
}

#bolinha-carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    top: -8px;
    right: -7px;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 1rem;
    background-color: #f7f332;
    pointer-events: none;
}


/* Icones */
.fa-user,
.fa-cart-shopping,
.fa-heart {
    color: #fafafa;
    cursor: pointer;
    transition: 0.5s;
    padding-top: 2px;
}

.fa-cart-shopping,
.fa-heart {
    padding-left: 1.5rem;
}

.fa-user:hover,
.fa-cart-shopping:hover,
.fa-heart:hover {
    opacity: 0.7;
}

.fa-cart-shopping {
    font-size: 1.2rem;
}


/* Subnavbar */
#sub-bar ul {
    height: 40px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#sub-bar ul li {
    color: #555;
    font-size: 1.2rem;
    transition: 0.5s;
}

#sub-bar ul li:hover {
    color: #174691;
}


/* Barra de anuncio */
#barra-de-anuncio {
    height: 50px;
    background-color: #113a7a;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
}

#barra-de-anuncio span {
    color: #f9fc49
}


/* Main "Lado esquerdo e direito" */
main {
    display: flex;
    margin-top: 4rem;
    margin: 3rem 2rem 0 1rem;
}

#lado-esquerdo {
    width: 20%;
}

#lado-direito {
    width: 80%;
}


/* Lado esquerdo */
#lado-esquerdo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    background: #f6f6f6;
    border-radius: 10px;
    margin-right: 4.5rem;
}

.especifico {
    display: flex;
    justify-content: space-between;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
}

.cruz {
    font-weight: bold;
}


/* Lado direito */
#title {
    margin: 1rem 0 0.5rem;
}

#paragrafo {
    color: #333;
    margin-bottom: 2rem;
}

#produtos {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1.5rem;
}

.produto {
    width: 300px;
    position: relative;
}

.produto img {
    margin-bottom: 0.3rem;
}

.produto h3 {
    font-weight: 500;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    color: #333;
}

.produto p {
    font-weight:900;
    color: #444;
    font-size: 1.5rem;
}

.produto .sub-paragrafo {
    font-size: 0.8rem;
    font-weight: 100;
    color: #777;
}

.produto h4 {
    font-weight: 400;
    font-size: 1.1rem;
}

.agrupamento-desejo {
    position: absolute;
    top: 5px;
    right: 40px;
    border-radius: 2rem;
    transition: 0.5s;
}

.agrupamento-desejo:hover {
    background-color: #d1cece;
}

.coracao-desejo.fa-heart {
    color: #555;
    font-size: 1.3rem;
    padding: 6px;
}

.coracao-desejo.fa-heart:hover {
    opacity: 1;
}